<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Presença</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_edit.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <form id="edit-attendance-form" action="/edit_attendance/{{ attendance.id }}" method="post">
        <label for="teacher">Professor preenchendo a lista:</label>
        <select id="teacher" name="teacher" required>
            <option value="" disabled selected>-- Selecione um professor --</option>
            {% for teacher in teachers %}
                <option value="{{ teacher.id }}" {% if teacher.id == attendance.teacher_id %}selected{% endif %}>
                    {{ teacher.name.title() }} {{ teacher.last_name.title()}}
                </option>
            {% endfor %}
        </select>
        <br>
        <label for="date">Data:</label>
        <input type="date" id="date" name="date" value="{{ attendance.date }}" required>
        <br>
        <div id="students-container">
            {% for student in students %}
                <div>
                    <input type="checkbox" id="student_{{ student.id }}" name="students" value="{{ student.id }}" {% if student.id in registered_student_ids %}checked{% endif %}>
                    <label for="student_{{ student.id }}">{{ student.name.title() }} {{ student.last_name.title() }}</label>
                </div>
            {% endfor %}
        </div>
        <br>
        <button type="submit">Atualizar</button>
    </form>
</body>
</html>