<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    
    <form id="attendance-form" action="/submit" method="post">
        <label for="teacher">Professor preenchendo a lista:</label>
        <select id="teacher" name="teacher" required>
            <option value="" disabled selected>-- Selecione um professor --</option>
            {% for teacher in teachers %}
                <option value="{{ teacher.id }}">
                    {{ teacher.name.title() }} {{ teacher.last_name.title()}}
                </option>
            {% endfor %}
        </select>
        <br>
        <label for="class">Turma:</label>
        <select id="class" name="class" required>
            <option value="" disabled selected>-- Selecione uma turma --</option>
            {% for class in classes %}
                <option value="{{ class.id }}">
                    {{ class.sport.title() }} - {{ class.start_time }} às {{ class.end_time }} - {{ class.core }} - {{ class.age.title() }} - {{ class.genre.title() }} - {{ class.days | join(' e ') }}
                </option>
            {% endfor %}
        </select>
        <br>
        <label for="date">Data:</label>
        <input type="date" id="date" name="date" required>
        <br>
        <div id="students-container" >
            <!-- Os checkboxes dos alunos serão adicionados aqui -->
        </div>
        <br>
        <button type="submit">Sign Up</button>
        <br><br>
        <div class="dash-container">
        <a href="./dash" class="dash-button">Ir para dashboard</a>
        </div>
        
    </form>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>