<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Bem-vindo à Plataforma</h1>
    
    {% if logged_in %}
        {% if user_type == 'student' %}
            <a href="{{ url_for('auth.account') }}">Minha Conta</a>
            <a href="{{ url_for('auth.my_class') }}">Minha Turma</a>
            <a href="{{ url_for('auth.billing') }}">Minha Mensalidade</a>
        {% elif user_type == 'teacher' %}
            <!-- Adicione links específicos para professores aqui -->
        {% elif user_type == 'manager' %}
            <!-- Adicione links específicos para gerentes aqui -->
        {% endif %}
        <a href="{{ url_for('auth.logout') }}">Sair</a>
    {% else %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.sign_up') }}">Sign Up</a>
    {% endif %}
</body>
</html>
