<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Aula</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- <h1>Formulário de Aula</h1> -->
    <form action="/submit" method="post">

        <label for="date">Data:</label>
        <input type="date" id="date" name="date" required><br><br>

        <label for="class">Turma:</label>
        <select id="class" name="class" onchange="updateCheckboxes()" required>
            <option value="">Selecione uma turma</option>
            <option value="segqua0708">Segunda-Quarta (07-08)</option>
            <option value="segqua1112">Segunda-Quarta (11-12)</option>
            <option value="segqua2122">Segunda-Quarta (21-22)</option>
            <option value="terqui0910">Terça-Quinta (09-10)</option>
            <option value="terqui1314">Terça-Quinta (13-14)</option>
            <option value="terqui1415">Terça-Quinta (14-15)</option>
        </select><br><br>
        
        
        <label for="teacher">Professor:</label>
        <!-- <input type="text" id="teacher" name="teacher" required> -->
        <select id="teacher" name="teacher" required><br><br>
            <option value="">Selecione um professor</option>
            <option value="pedro">Pedro</option>
            <option value="julio">Julio</option>
            <option value="paulo">Paulo</option>
        </select><br><br>


        <label for="list">Lista:</label>
        <div id="list" class="checkbox-list">
            <!-- As checkboxes serão adicionadas dinamicamente pelo JavaScript -->
        </div><br><br>
        
        <button type="submit">Enviar</button>
    </form>

    <script src="{{ url_for('static', filename='functions.js') }}"></script>
</body>
</html>
